
vd-document::part(instructions_slide_box_title) {
  color: #3269b3;
}
vd-document::part(instructions_slide_button) {
  background: #c9337d;
}
vd-document::part(instructions_slide_button):hover {
  background: #c9337d;
  color: #f2f2f2;
}
vd-document::part(capture_glowing_outline_top_div) {
  color: #3269b3;
  background: #f2f2f2;
}
vd-document::part(display_message) {
  color: #3269b3;
  background: #f2f2f2;
}
vd-document::part(capture_display_message_success) {
  background: #f2f2f2;
  border-color: #f2f2f2;
  text-align: center;
}
vd-document::part(capture_display_message_text) {
  color: #3269b3;
  text-align: center;
}
vd-document::part(capture_display_message_context) {
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 4px;
}
vd-document::part(capture_glowing_outline_header_top_message) {
  color: #3269b3;
  text-align: center;
  border-radius: 3px;
}
vd-document::part(review_image_message_text) {
  color:#61616a;
}
vd-document::part(review_image_message_buttons_repeat) {
  background: #f2f2f2;
  border-color: #f2f2f2;
  color: #3269b3;
}
vd-document::part(review_image_message_buttons_continue) {
  background: #c9337d;
  border-color: #c9337d;
  color: #f2f2f2;
}
vd-document::part(review_image_message_buttons_repeat):hover {
  background: #f2f2f2;
  border-color: #f2f2f2;
  color: #3269b3;
}
vd-document::part(review_image_message_buttons_continue):hover {
  background: #c9337d;
  border-color: #c9337d;
  color: #f2f2f2;
}

vd-document::part(feedback) {
  background-color: #3269b3;
}
vd-document::part(feedback_display_message_text) {
  color: #3269b3;
}
vd-selfie::part(instructions_slide_box_title) {
  color: #3269b3;
}
vd-selfie::part(instructions_slide_button) {
  background: #c9337d;
}
vd-selfie::part(instructions_slide_button):hover {
  background: #c9337d;
  color: #f2f2f2;
}
vd-selfie::part(capture_glowing_outline_top_div) {
  background-color: #f2f2f2;
  color: #3269b3;
}
vd-selfie::part(display_message) {
  background-color: #f2f2f2;
  color: #3269b3;
}
vd-selfie::part(capture_display_message_text) {
  color: #3269b3;
}
vd-selfie::part(capture_display_message_success) {
  background: #f2f2f2;
  border-color: #f2f2f2;
  text-align: center;
}
vd-selfie::part(instructions_slide_button_prev) {
  color: #3269b3;
}
vd-selfie::part(instructions_slide_button_next) {
  color: #3269b3;
}
vd-selfie::part(instructions_slide_dots) {
  background: #3269b3;
}
vd-selfie::part(capture_display_message_context) {
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 4px;
}
vd-video::part(instructions_slide_box_title) {
  color: #3269b3;
}
vd-video::part(instructions_slide_box_subtitle) {
  color: #283c57;
}
vd-video::part(instructions_slide_button_prev) {
  color: #3269b3;
}
vd-video::part(instructions_slide_button_next) {
  color: #3269b3;
}
vd-video::part(instructions_slide_dots) {
  background: #3269b3;
}
vd-video::part(instructions_slide_button) {
  background: #c9337d;
}
vd-video::part(instructions_slide_button):hover {
  background: #c9337d;
  color: #f2f2f2;
}
vd-video::part(capture_glowing_outline_top_div) {
  background-color: #f2f2f2;
  color: #3269b3;
}
vd-video::part(display_message) {
  background: #3269b3;
  color: #f2f2f2;
}
vd-video::part(capture_display_message_success) {
  background: #f2f2f2;
  border-color: #f2f2f2;
  text-align: center;
}
vd-video::part(capture_display_message_text) {
  color: #3269b3;
}
vd-video::part(capture_display_message_context) {
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 4px;
}
